

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

/* fullscreen setup */
html, body {
/* give this to all tags from html to .fullscreen */
    height:100%;
    font-family: 'Roboto', sans-serif;
}

/* background setup */
.background {
	background-image:url('img/countryside-journey-mountains-3184.jpg');
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
}

.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}