/* -------------------------------- 

Primary style

-------------------------------- */

@font-face {
    font-family: "Proxima_Nova";
    src: url("../fonts/proxima_nova/proxima_nova_regular-webfont.eot");
    src: url("../fonts/proxima_nova/proxima_nova_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova/proxima_nova_regular-webfont.woff") format("woff"), url("../fonts/proxima_nova/proxima_nova_regular-webfont.ttf") format("truetype"), url("../fonts/proxima_nova/proxima_nova_regular-webfont.svg#Proxima_Nova") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Proxima_Nova";
    src: url("../fonts/proxima_nova/proxima_nova_bold-webfont.eot");
    src: url("../fonts/proxima_nova/proxima_nova_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova/proxima_nova_bold-webfont.woff") format("woff"), url("../fonts/proxima_nova/proxima_nova_bold-webfont.ttf") format("truetype"), url("../fonts/proxima_nova/proxima_nova_bold-webfont.svg#Proxima_Nova") format("svg");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Proxima_Nova";
    src: url("../fonts/proxima_nova/proxima_nova_light-webfont.eot");
    src: url("../fonts/proxima_nova/proxima_nova_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova/proxima_nova_light-webfont.woff") format("woff"), url("../fonts/proxima_nova/proxima_nova_light-webfont.ttf") format("truetype"), url("../fonts/proxima_nova/proxima_nova_light-webfont.svg#Proxima_Nova") format("svg");
    font-weight: 300;
    font-style: normal;
}


*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    //font-family: "Open Sans", sans-serif;
    font-family: 'Proxima_Nova', sans-serif;
    color: #212121;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #283040;
    text-decoration: none;
}

h1 a {
    color: #ffffff;
    margin-bottom: 1em;
    font-size: 2.2rem;
}

@media only screen and (min-width: 768px) {
    h1 a {
        cursor: pointer;
        font-size: 7.2rem;
        font-weight: 400;
    }
}

.red {
    color: #cb354b;
}

.name {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3.0rem;
    color: white;
    font-weight: bold;
    font-size: 2.0rem;
    span {
        margin-left: 0.8rem;
        color: #555255;
    }
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3.0rem;
    right: 3.2rem;
    .menu_item {
        color: #555255;
        padding: 0 2.0rem;
        font-size: 2.0rem;
        font-weight: bold;
        &.menu_item_current {
            color: #cb354b !important;
        }
    }
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */
.cd-btn {
    display: inline-block;
    padding: 1.4em 1.6em;
    margin-bottom: 2em;
    border-radius: 50em;
    background-color: #283040;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.no-touch .cd-btn:hover {
    background-color: #323c50;
}

.cd-about .cd-btn {
    background-color: #212121;
}

.cd-work .cd-btn {
    background-color: #212121;
}

.cd-contact .cd-btn {
    background-color: #212121;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
body::after, body::before {
    /* these are the 2 half blocks which cover the content once the animation is triggered */
    content: '';
    height: 50vh;
    width: 100%;
    position: fixed;
    left: 0;
    background-color: #cb354b;
    z-index: 999;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.4s 0.4s;
    -moz-transition: -moz-transform 0.4s 0.4s;
    transition: transform 0.4s 0.4s;
}

body::before {
    top: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

body::after {
    bottom: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

body.page-is-changing::after, body.page-is-changing::before {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.4s 0s;
    -moz-transition: -moz-transform 0.4s 0s;
    transition: transform 0.4s 0s;
}

main {
    height: 100vh;
    /*padding: 10px;*/
    text-align: center;
}

main .cd-main-content {
    position: relative;
    height: 100vh;
}

main .cd-main-content > div {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

main .cd-main-content::after, main .cd-main-content::before {
    /* these are the 2 gradient overlay at the top and bottom of the .cd-main-content - to indicate that you can scroll */
    content: '';
    position: absolute;
    left: 0;
    height: 50px;
    width: 100%;
}

main .cd-main-content::before {
    top: 0;
}

main .cd-main-content::after {
    bottom: 0;
}

main .cd-main-content.cd-index {
    /* .cd-main-content basic style - index page */
    background-color: #212121;
    /* vertically center its content */
    display: table;
    width: 100%;
}

main .cd-main-content.cd-index > div {
    /* vertically center the content inside the .cd-index */
    display: table-cell;
    vertical-align: middle;
}

main .cd-main-content.cd-index::after {
    background-color: rgba(64, 137, 166, 0);
    /* background-image: -webkit-linear-gradient(bottom, #212121, rgba(64, 137, 166, 0));
     background-image: linear-gradient(to top,#212121, rgba(64, 137, 166, 0));*/
}

main .cd-main-content.cd-index::before {
    background-color: rgba(64, 137, 166, 0);
    /* background-image: -webkit-linear-gradient(top, #212121, rgba(64, 137, 166, 0));
     background-image: linear-gradient(to bottom,#212121, rgba(64, 137, 166, 0));*/
}

main .cd-main-content.cd-about {
    /* .cd-main-content basic style - about page */
    background-color: #212121;
}

main .cd-main-content.cd-about > div {
    padding-top: 50px;
}

main .cd-main-content.cd-contact {
    /* .cd-main-content basic style - contact page */
    background-color: #212121;
}

main .cd-main-content.cd-contact > div {
    padding-top: 50px;
}

main .cd-main-content.cd-about::after {
    background-color: rgba(40, 48, 64, 0);
    /* background-image: -webkit-linear-gradient(bottom, #283040, rgba(40, 48, 64, 0));
     background-image: linear-gradient(to top,#283040, rgba(40, 48, 64, 0));*/
}

main .cd-main-content.cd-about::before {
    background-color: rgba(40, 48, 64, 0);
    /* background-image: -webkit-linear-gradient(top, #283040, rgba(40, 48, 64, 0));
     background-image: linear-gradient(to bottom,#283040, rgba(40, 48, 64, 0));*/
}

main .cd-main-content.cd-work {
    /* .cd-main-content basic style - work page */
    background-color: #212121;
}

main .cd-main-content.cd-work > div {
    padding-top: 50px;
}

main .cd-main-content.cd-work::after {
    background-color: rgba(40, 48, 64, 0);
    /* background-image: -webkit-linear-gradient(bottom, #283040, rgba(40, 48, 64, 0));
     background-image: linear-gradient(to top,#283040, rgba(40, 48, 64, 0));*/
}

main .cd-main-content.cd-work::before {
    background-color: rgba(40, 48, 64, 0);
    /* background-image: -webkit-linear-gradient(top, #283040, rgba(40, 48, 64, 0));
     background-image: linear-gradient(to bottom,#283040, rgba(40, 48, 64, 0));*/
}

main .cd-main-content.cd-contact {
    /* .cd-main-content basic style - contact page */
    background-color: #212121;
}

main .cd-main-content.cd-contact > div {
    padding-top: 50px;
}

main .cd-main-content.cd-contact::after {
    background-color: rgba(40, 48, 64, 0);
    /* background-image: -webkit-linear-gradient(bottom, #283040, rgba(40, 48, 64, 0));
     background-image: linear-gradient(to top,#283040, rgba(40, 48, 64, 0));*/
}

main .cd-main-content.cd-contact::before {
    background-color: rgba(40, 48, 64, 0);
    /* background-image: -webkit-linear-gradient(top, #283040, rgba(40, 48, 64, 0));
     background-image: linear-gradient(to bottom,#283040, rgba(40, 48, 64, 0));*/
}

/*main p {
    width: 90%;
    max-width: 768px;
    margin: 3em auto;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #535966;
    text-align: left;
}*/

@media only screen and (min-width: 768px) {
    main {
        /*padding: 20px;*/
    }
    main .cd-main-content {
        height: 100vh;
    }
    main.cd-index > div {
        padding-top: 200px;
    }
    main.cd-index > div {
        padding-top: 50px;
    }
    main p {
        font-size: 1.8rem;
        line-height: 2;
    }
}

.cd-cover-layer {
    /* layer that covers the content when the animation is triggered */
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    opacity: 0;
    visibility: hidden;
    background-color: #212121;
    -webkit-transition: opacity 0.4s 0.4s, visibility 0s 0.8s;
    -moz-transition: opacity 0.4s 0.4s, visibility 0s 0.8s;
    transition: opacity 0.4s 0.4s, visibility 0s 0.8s;
}

.cd-about .cd-cover-layer {
    background-color: #283040;
}

.cd-work .cd-cover-layer {
    background-color: #283040;
}

.cd-contact .cd-cover-layer {
    background-color: #283040;
}

.page-is-changing .cd-cover-layer {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

@media only screen and (min-width: 768px) {
    .cd-cover-layer {
        height: calc(100% - 40px);
        width: calc(100% - 40px);
    }
}

.cd-loading-bar {
    /* this is the loding bar - visible while switching from one page to the following one */
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    height: 6px;
    width: 90%;
    background-color: #212121;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.4s, -webkit-transform 0.4s 0s ease-in;
    -moz-transition: visibility 0s 0.4s, -moz-transform 0.4s 0s ease-in;
    transition: visibility 0s 0.4s, transform 0.4s 0s ease-in;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.cd-about .cd-loading-bar {
    background-color: #212121;
}

.cd-about .cd-loading-bar::before {
    background-color: #FF425E;
}

.cd-work .cd-loading-bar {
    background-color: #212121;
}

.cd-work .cd-loading-bar::before {
    background-color: #FF425E;
}

.cd-contact .cd-loading-bar {
    background-color: #212121;
}

.cd-contact .cd-loading-bar::before {
    background-color: #FF425E;
}

.cd-loading-bar::before {
    /* this is the progress bar inside the loading bar */
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #FF425E;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.page-is-changing .cd-loading-bar {
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    -moz-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    -ms-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    -o-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    -webkit-transition: visibility 0s 0.3s, -webkit-transform 0.4s 0.4s;
    -moz-transition: visibility 0s 0.3s, -moz-transform 0.4s 0.4s;
    transition: visibility 0s 0.3s, transform 0.4s 0.4s;
}

.page-is-changing .cd-loading-bar::before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.8s 0.8s ease-in;
    -moz-transition: -moz-transform 0.8s 0.8s ease-in;
    transition: transform 0.8s 0.8s ease-in;
}

.hola {
    background: #cb354b;
    height: 100vh;
    width: 50vw;
    position: absolute;
    top: 0;
    left: -50vw;
    z-index: 0;
}

strong {
    font-weight: bold;
    font-size: 3rem;
}

@media only screen and (min-width: 768px) {
    .cd-loading-bar {
        width: calc(100% - 40px);
    }
}

/**contact**/
.contact-div {
    width: 48vw;
    height: 90vh;
    float: left;
    position: relative;
}

.form-div {
    width: 48vw;
    float: right;
    position: relative;
    height: 90vh;
}

.contact-content {
    text-align: center !important;
    position: relative;
    top: 30%;
    display: inline-block;
    /* width: 100%; */
    /* margin: 0 auto; */
}

.form-content {
    text-align: center !important;
    position: relative;
    top: 25%;
    display: block;
    width: 50%;
    margin: 0 25%;
}

.contact-content p {
    line-height: initial;
}

input {
    width: 100%;
    background: transparent;
    padding: 1.2rem;
    border: 0.2rem solid #cb354b;
    margin-bottom: 1.8rem;
    margin-left: 40vw;
    font-family: 'Proxima_Nova', sans-serif;
}

textarea {
    width: 100%;
    background: transparent;
    padding: 1.2rem;
    border: 0.2rem solid #cb354b;
    margin-bottom: 1.8rem;
    resize: none;
    margin-left: 40vw;
    font-family: 'Proxima_Nova', sans-serif;
}

::-webkit-input-placeholder {
    color: #cb354b;
    font-size: 14px;
    margin: 14px;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #cb354b;
    font-size: 14px;
    margin: 14px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #cb354b;
    font-size: 14px;
    margin: 14px;
}

:-ms-input-placeholder {
    color: #cb354b;
    font-size: 14px;
    margin: 14px;
}

button[type="submit"] {
    width: 100%;
    background: transparent;
    padding: 1.2rem;
    border: 0.2rem solid #cb354b;
    color: #cb354b;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 600;
    margin-left: 40vw;
    font-family: 'Proxima_Nova', sans-serif;
    font-size: 14px;
}

button[type="submit"]:hover {
    background: #cb354b;
    color: #212121;
}

.span1 {
    z-index: 9999;
    color: red;
    position: absolute;
    top: 15%;
    font-size: 5.0rem;
    display: block;
    opacity: 0;
    cursor: pointer;
}

.span2 {
    z-index: 99;
    color: red;
    position: absolute;
    top: 15%;
    font-size: 5.0rem;
    display: block;
    opacity: 0;
}

.social {
    margin-top: 1.5rem;
    /*width: 50%;*/
    text-align: center;
    display: block;
}

.social i {
    font-size: 3.0rem;
    cursor: pointer;
    margin: 0 5px;
}

/*# sourceMappingURL=style.css.map */